## Objetivos

Exercitar os seguintes conceitos trabalhados no Módulo:
- Scikit-Learning
- Programação concorrente
- Programação reativa
- Pygame

## Enunciado


Neste desafio, são utilizados todos os módulos apresentados durante o módulo 4 deste Bootcamp. Módulos como o scikit-learn, pandas, threading, rx e pygame são empregados para construir aplicações que utilizem conceitos mais avançados da linguagem Python. Desse modo, é possível perceber a vasta aplicabilidade dessa linguagem para se resolver diversos problemas de diferentes complexidades através da computação.

## Atividades

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("doencas_coracao.csv")
df.head()

    age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0  75.0        0                       582  ...        0     4            1
1  55.0        0                      7861  ...        0     6            1
2  65.0        0                       146  ...        1     7            1
3  50.0        1                       111  ...        0     7            1
4  65.0        1                       160  ...        0     8            1

[5 rows x 13 columns]

## Pergunta 1

Sobre a quantidade de instâncias e de características presentes noo dataset, é CORRETO afirmar:

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [ ]:
# Resposta: Existem 299 instâncias e 13 características

## Pergunta 2

Quantos tipos de dados diferentes existem no dataset?
Considere apenas a carga utilizando o módulo pandas

In [ ]:
# Resposta: 2 tipos diferentes de dados

## Pergunta 3

Qual era a idade (age) média dos pacientes que faleceram (DEATH_EVENT=1)?

In [ ]:
# Resposta:

## Pergunta 4

Dentre os pacientes que faleceram (DEATH_EVENT=1), quantos são do sexo feminino (sex=0)?

In [ ]:
# Resposta:

## Pergunta 5

Após dividir as colunas do *dataframe* entre entrada e saída, aplicar a normalização dos dados como apresentado no enunciado